* {
  margin: 5px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.box {
  margin-top: 3vh;
  width: 280px;
  height: 500px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  width: 260px;
  padding: 20px;
  background-color: #f0ba10;
  border-radius: 5px;
  margin-bottom: 50px;
}

.title1 {
  font-size: 30px;
}
.title2 {
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.guessNumberText {
  font-size: 18px;
  margin-left: 10px;
}
.guessNumber {
  width: 260px;
  height: 35px;
  padding: 2px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f0ba10;
  border: none;
  color: black;
}
.btnTry {
  width: 260px;
  height: 35px;
  padding: 2px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: olivedrab;
  margin-bottom: 50px;
  border: none;
}
.btnTry:disabled {
  background-color: darkgrey;
}

.rectangle {
  width: 260px;
  height: 35px;
  border: solid 3px black;
  background-color: #f5f5f5;
  font-size: 10px;
  padding: 2px 10px;
  border-radius: 5px;
}

.clueTextColor {
  color: olivedrab;
  font-size: 24px;
}

.clueTextColorError {
  color: red;
}

@media all and (min-width: 768px) {
  .box {
    margin-top: 20vh;
    width: 420px;
    height: 600px;
  }
  .title {
    margin-top: -20px;
    width: 380px;
    padding: 20px;
  }
  .guessNumber {
    width: 380px;
  }
  .btnTry {
    width: 380px;
  }
  .rectangle {
    width: 380px;
    font-size: 14px;
  }
}

@media all and (min-width: 1280px) {
}
