* {
  margin: 5px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.box {
  margin-top: 30vh;
  width: 550px;
  height: 500px;
  padding: 10px;
  /* background-color: #c8c8c8; */
  background-color: black;
  border-radius: 10px;
}

.title {
  color: white;
  text-align: center;
  width: 500px;
  padding: 20px;
  /* padding: 2px 10px; */
  /* background-color: pink; */
  background-color: #f0ba10;
  border-radius: 5px;
  margin-bottom: 50px;
}

.title1 {
  font-size: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.guessNumberText {
  font-size: 20px;
}
.guessNumber {
  width: 250px;
  height: 35px;
  padding: 2px 10px;
  font-size: 16px;
  border-radius: 5px;
  /* background-color: pink; */
  background-color: #f0ba10;
  border: none;
  color: black;
}
.btnTry {
  width: 270px;
  height: 35px;
  padding: 2px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: #892621;
  margin-bottom: 50px;
  border: none;
}
.btnTry:disabled {
  background-color: darkgrey;
}

.rectangle {
  width: 500px;
  height: 35px;
  border: solid 3px black;
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 5px;
}

.clueTextColor {
  color: #14d9c4;
  font-size: 24px;
}

.clueTextColorError {
  color: red;
}
